h1 {
  font-size: 62px;
  margin: 0;
  font-weight: normal; }

h2 {
  font-size: 40px;
  margin: 0;
  font-weight: normal; }

h3 {
  font-size: 21px;
  margin: 0;
  font-weight: normal; }

h4 {
  font-size: 17px;
  margin: 0;
  font-weight: normal; }

h5 {
  font-size: 15px;
  margin: 0;
  font-weight: normal; }

h6 {
  font-size: 13px;
  margin: 0;
  font-weight: normal; }

@media (max-width: 500px) {
  h1 {
    font-size: 40px;
    margin: 0;
    font-weight: normal; }
  h2 {
    font-size: 32px;
    margin: 0;
    font-weight: normal; }
  h3 {
    font-size: 18px;
    margin: 0;
    font-weight: normal; }
  h4 {
    font-size: 18px;
    margin: 0;
    font-weight: normal; }
  h5 {
    font-size: 14px;
    margin: 0;
    font-weight: normal; }
  h6 {
    font-size: 12px;
    margin: 0;
    font-weight: normal; } }

html {
  box-sizing: border-box;
  user-select: none; }

button:active,
button:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none; }

ul {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: 'Helvetica Neue', serif;
  font-size: 15px;
  position: relative; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue.otf");
  font-weight: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeueBold.otf");
  font-weight: bold; }

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url("../fonts/HelveticaNeueLight.otf");
  font-weight: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria.otf");
  font-weight: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/GeometriaBold.otf");
  font-weight: bold; }

.section__header {
  line-height: 50px;
  font-family: 'Geometria';
  font-weight: bold; }

h3 {
  line-height: 29px; }

.section {
  max-width: 1280px;
  position: relative;
  margin: 0 auto; }

.btn {
  position: relative;
  height: 50px;
  line-height: 50px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: #e5e6e7;
  border-radius: 50px;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  padding: 0;
  bottom: 0;
  border-style: none; }

.btn_color_gray {
  background-color: #5D5D5D; }

.btn__size_large {
  width: 240px; }

.btn__size_small {
  width: 200px; }

.btn__type_accent {
  background-color: #ee5133; }

.slider__body {
  position: relative;
  border: 1px solid #dcddde;
  border-radius: 8px; }

.slider__small {
  width: 320px;
  height: 470px;
  padding: 30px 38px 0 55px; }

.slider__large {
  width: 700px;
  height: 360px;
  padding: 20px; }

.slider__control {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 20px; }
  .slider__control :last-child {
    margin-right: 0; }

.slider__point {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #DCDDDE;
  margin-right: 10px;
  cursor: pointer; }

.slider__point_active {
  background-color: #ee5133; }

.custom_input {
  display: block;
  width: 220px;
  height: 50px;
  padding: 20px 0 16px 20px;
  border: none;
  background-color: #f1f1f1;
  font-size: 15px;
  font-family: 'Helvetica Neue', serif;
  line-height: 50px; }

.custom_input__type_mobile {
  width: 100%;
  background-color: #fff; }

::-webkit-input-placeholder {
  color: #a7a9ac; }

::-moz-placeholder {
  color: #a7a9ac; }

/* Firefox 19+ */
:-moz-placeholder {
  color: #a7a9ac; }

/* Firefox 18- */
:-ms-input-placeholder {
  color: #a7a9ac; }

.lightbox_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 500;
  display: none; }

.lightbox {
  width: 650px;
  height: 412px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -206px;
  margin-left: -325px;
  padding: 44px 0 97px 0;
  text-align: center;
  background-color: #fff;
  z-index: 501;
  display: none; }

.lightbox__title {
  font-size: 40px;
  font-family: "Geometria";
  color: #333;
  margin-bottom: 25px; }

.lightbox__article {
  font-size: 15px;
  color: #899398;
  margin-bottom: 25px; }

.lightbox__input-wrapper {
  position: relative;
  width: 347px;
  margin: 25px auto; }

.lightbox__done_icon {
  display: none;
  position: absolute;
  width: 18px;
  height: 12px;
  right: 15px;
  top: 19px; }

.lightbox__input {
  width: 100%;
  height: 50px;
  background-color: #f1f1f1; }

.lightbox__btn {
  margin: 0 auto; }

.lightbox__close-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer; }

.tooltip {
  width: 120px;
  height: 30px;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  background-color: #bd081c;
  border-radius: 2px; }

.tooltip::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #bd081c; }

.error__tooltip {
  display: none;
  position: absolute;
  left: 0;
  top: -35px; }

header {
  width: 100%;
  height: auto;
  position: relative;
  padding: 27px 100px 50px 100px;
  background: url("../img/header.png") no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff; }

.header__head-wrapper {
  height: 28px;
  line-height: 28px; }

.header__logo {
  float: left;
  height: 29px;
  padding-right: 20px;
  border-right: 1px solid #fff;
  cursor: pointer; }
  .header__logo img {
    width: 40px;
    height: 29px; }

.header__city {
  float: left;
  margin: 0 19px; }

.header__phone {
  float: left; }

.header__download {
  float: right;
  margin-right: 24px;
  cursor: pointer; }

.header__login {
  font-size: 15px;
  font-weight: bold;
  float: right;
  padding-left: 20px;
  border-left: 1px solid #fff;
  cursor: pointer; }

.header__article {
  margin: 104px 0 0 -4px;
  max-width: 350px;
  height: 183px;
  font-family: "Geometria";
  font-weight: bold;
  line-height: 65px;
  letter-spacing: -0.4px; }

.header__comments {
  max-width: 400px;
  margin-top: 142px;
  letter-spacing: 0.3px; }

.header__btn {
  margin-top: 42px; }

.header__bottom_icon {
  position: absolute;
  right: 100px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  padding-left: 18px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer; }
  .header__bottom_icon img {
    display: block;
    width: 14px;
    height: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto; }

.header__more_text {
  position: absolute;
  right: 173px;
  bottom: 66px; }

.header__mobile-widget {
  display: none;
  float: right;
  margin-top: 30px;
  height: 50px; }

.header__mobile_icon {
  float: left; }

.header__call_mobile {
  padding: 18px 0 11px 18px;
  border-left: 1px solid #dcddde; }
  .header__call_mobile img {
    width: 18px;
    height: 18px; }

.header__download_mobile {
  padding: 16px 19px 12px 0; }
  .header__download_mobile img {
    width: 16px;
    height: 19px; }

.section_one {
  border-bottom: 1px solid #dcddde;
  padding: 80px 100px 55px 100px; }

.section__header_one {
  position: absolute;
  width: 265px;
  top: 94px;
  left: 100px; }

.section_one__card_and_slider_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; }

.section_one__slider_round_img {
  position: absolute;
  top: 158px;
  left: 379px; }

.section_one__slider_text {
  position: absolute;
  right: 41px;
  top: 30px;
  width: 129px; }
  .section_one__slider_text h3 {
    text-align: right; }

.section_one__slider_header {
  color: #ee5133; }

.section_one__cards_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end; }

.spoiler__switcher {
  position: absolute;
  left: -36px;
  top: 0;
  width: 24px;
  height: 24px;
  display: none; }

.card {
  letter-spacing: 0.3px; }

.card__header {
  font-weight: bold;
  position: relative;
  letter-spacing: 0.1px; }

.card__text {
  color: #899398;
  line-height: 23px;
  margin-bottom: 28px; }

.section_one__card_one {
  max-width: 310px;
  align-self: flex-end;
  margin-bottom: 24px; }

.card__header_card_one {
  margin-bottom: 26px; }

.section_one__card_two {
  max-width: 321px;
  margin: 51px 30px 0 0; }

.card__header_card_two, .card__header_card_three {
  margin-bottom: 25px; }

.section_one__card_three {
  max-width: 291px;
  margin: 51px 30px 0 28px; }

.section_two {
  border-bottom: 1px solid #dcddde;
  padding: 84px 100px 81px 100px; }

.section_two__header {
  margin-bottom: 66px; }

.section_two__cards_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; }

.card_img {
  max-width: 320px;
  margin-bottom: 10px; }
  .card_img img {
    width: 100%; }

.card_img__header {
  margin: 35px 0 25px 0; }
  .card_img__header h3 {
    font-weight: bold; }

.card_img__text {
  color: #899398;
  line-height: 25px; }

.slider__control_type_card_img {
  display: none; }

.section_three {
  border-bottom: 1px solid #dcddde;
  padding: 72px 100px 44px 100px; }

.swiper-container {
  width: 100%;
  height: 300px; }

.section_three__header {
  position: absolute;
  top: 147px;
  left: 100px; }

.card_icon__text {
  max-width: 300px;
  letter-spacing: 0.3px; }
  .card_icon__text h4 {
    line-height: 25px; }

.section_three__right-column {
  display: flex;
  text-align: right; }

.section_three__flex_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.card_icon_img {
  margin-bottom: 29px; }

.card_icon_first {
  margin-top: 336px; }
  .card_icon_first .card_icon__text:first-child {
    margin-bottom: 20px; }
  .card_icon_first .card_icon_img {
    width: 70px;
    height: 60px; }

.card_icon_second {
  text-align: right;
  margin-top: 150px; }
  .card_icon_second .card_icon_img {
    width: 70px;
    height: 70px;
    margin-bottom: 28px; }

.card_icon_third {
  text-align: right;
  margin-top: 37px; }
  .card_icon_third .card_icon_img {
    width: 70px;
    height: 60px; }

.section_three_btn {
  margin: 110px 0 0 50px;
  color: #5d5d5d; }
  .section_three_btn span {
    padding-left: 20px;
    line-height: 52px; }
  .section_three_btn img {
    position: absolute;
    width: 16px;
    height: 18px;
    top: 15px;
    left: 21px; }

.section_three__phone {
  margin: 2px 5px 2px 3px; }

.section_three__phone_wrapper_mobile {
  display: none;
  border-bottom: 1px solid #dcddde; }

.section_three__phone_mobile {
  display: block;
  width: 192px;
  height: 260px;
  margin: 0 auto; }

.section_three__btn_mobile {
  display: none;
  margin-top: 20px; }

.section_three__btn_mobile_icon {
  position: absolute;
  top: 14px;
  left: 20px;
  width: 16px;
  height: 19px; }

.section_four {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #dcddde;
  padding: 80px 100px 60px 100px; }

.section__header_four {
  margin-top: 23px; }

.section_four__slider_img {
  display: block;
  position: absolute;
  top: 218px;
  left: 60px; }

.section_four__slider_roung-img {
  display: block;
  position: absolute;
  top: 334px;
  left: 185px; }

.section_four__slider_text_wrapper {
  text-align: right; }

.section_four__slider_header {
  color: #ee5133; }

.section_four__comment {
  margin-top: 15px;
  color: #899398;
  letter-spacing: 0.2px; }
  .section_four__comment h4 {
    line-height: 29px; }

.section_four__control {
  width: 320px;
  position: relative; }
  .section_four__control h3 {
    font-weight: bold; }

.section_four__control_one {
  margin-right: 60px; }

.controls_wrapper {
  margin: 51px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.control {
  max-width: 320px;
  height: 6px;
  background-color: #e5e6e7;
  margin: 15px 0 24px 0;
  position: relative; }

.control__progress {
  position: absolute;
  height: 6px;
  left: 0;
  top: 0;
  background-color: #ee5133; }

.control__progress_icon {
  width: 20px;
  height: 13px;
  display: block;
  cursor: pointer;
  position: relative;
  top: 8px; }

.controls_text {
  margin-bottom: 6px; }

.controls__block_border {
  position: absolute;
  left: -30px;
  bottom: 0;
  height: 60px;
  width: 1px;
  background-color: #dcddde; }

.section_four__comment_mobile {
  display: none;
  position: absolute;
  right: 0;
  top: 26px;
  color: #ee5133; }

.controls_mobile_result {
  display: none;
  flex-direction: row; }

.controls_mobile_price_amount {
  margin-right: 30px; }

.controls_mobile_price_time {
  padding-left: 20px;
  border-left: 1px solid #dcddde; }

.controls_mobile_result__block h3 {
  font-weight: bold;
  margin-top: 16px; }

.section_five {
  padding: 83px 100px 61px 100px; }

.section_five__feedbacks-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 61px; }

.feedback {
  width: 320px; }

.feedback__text {
  position: relative; }
  .feedback__text h4 {
    line-height: 24px; }

.feedback__author-wrapper {
  margin-top: 24px;
  height: 48px;
  line-height: 48px; }

.feedback__avatar {
  float: left; }

.feedback__author {
  float: left;
  margin-left: 15px;
  color: #899398;
  line-height: 52px; }

.feedback__quotmark {
  position: absolute;
  top: 3px;
  left: -10px; }

.feedback__quotmark_mobile {
  display: none; }

.slider__control_type_feedback {
  display: none; }

.feedback_card {
  width: 100%;
  margin-top: 79px;
  display: flex;
  height: 270px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #dcddde;
  border-radius: 4px; }

.feedback_card__half {
  width: 50%;
  padding: 40px 0 40px 40px; }

.feedback_card__header {
  color: #ee5133; }

.feedback_card__image {
  width: 50%; }

.feedback_card__input {
  display: none;
  margin-right: 20px;
  float: left; }

.feedback_card__btn {
  width: 220px;
  float: left; }

.feedback_card__input-wrapper {
  margin: 54px 0 0 1px; }

.feedback_mobile_card {
  display: none; }

.feedback_mobile_card-img {
  width: 100%;
  color: #fff;
  padding: 40px 24px;
  background-image: url("../img/boxes_mobile.png");
  background-size: cover; }

.feedback_mobile_icons {
  padding: 28px 24px; }

.feedback_mobile_card__text {
  font-weight: bold; }

.custom_input__type_mobile {
  display: none;
  margin-bottom: 28px; }

.feedback_mobile_card__header {
  font-family: 'Helvetica Neue Ligh';
  margin-bottom: 36px; }

.icons_wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 25px; }

.feedback_mobile_icon {
  width: 20px;
  height: 20px;
  margin-right: 32px; }

.feedback_mobile_icon_mail {
  width: 18px;
  height: 14px;
  align-self: center; }

footer {
  width: 100%;
  position: relative;
  padding: 56px 0 42px 0;
  background: #f1f1f1; }

.footer__container {
  max-width: 1280px;
  padding: 0 100px;
  position: relative;
  margin: 0 auto; }

.footer__column {
  float: left; }

.footer__header {
  font-weight: bold;
  margin-bottom: 18px; }

.footer__item {
  margin-bottom: 18px;
  line-height: 17px; }
  .footer__item img {
    width: 20px;
    height: 20px;
    margin-right: 14px; }

.footer__column_left {
  margin-right: 196px; }

.footer__column_center {
  margin: 36px 165px 0 0; }

.footer__column_right img {
  display: block;
  float: left; }

.footer__item_icon {
  height: 20px;
  line-height: 20px;
  margin-bottom: 14px; }

.footer__right_column_text {
  float: left; }

.footer__item_bottom {
  margin-top: 49px;
  line-height: 23px; }
  .footer__item_bottom img {
    width: 18px;
    height: 21px;
    display: block;
    float: left; }

.footer__item_bottom_text {
  float: left; }

.footer__item_logo_block {
  margin-top: 47px; }

.footer__logo_wrapper {
  width: 60px;
  height: 29px;
  float: left;
  padding-right: 19px;
  border-right: 1px solid #bcbec0; }

.footer__logo_text {
  float: left;
  padding-left: 20px;
  line-height: 29px;
  color: #939598; }

.footer__mobile-logo {
  display: none;
  margin-top: 40px;
  color: #899398; }

@media (max-width: 500px) {
  body {
    font-size: 14px; }
  .section {
    padding: 60px 25px 55px 25px; }
  header {
    padding: 30px 25px 25px 25px; }
  .section__header {
    line-height: 35px; }
  h3 {
    line-height: 24px; }
  .btn_type_mobile {
    font-size: 14px;
    width: 100%;
    font-weight: normal; }
  .header__download, .header__phone, .header__more_text, .header__bottom_icon {
    display: none; }
  .header__login {
    font-size: 14px;
    border-left: none; }
  .header__mobile-widget {
    display: block; }
  .header__article {
    max-width: 250px;
    line-height: 44px;
    height: auto; }
  .header__comments {
    margin-top: 75px; }
    .header__comments h3 {
      font-family: 'Helvetica Neue Light'; }
  .header__btn {
    font-weight: normal;
    margin-top: 30px; }
  .section_one {
    padding-bottom: 20px; }
  .section_one__slider {
    display: none; }
  .section__header_one {
    position: relative;
    width: auto;
    top: auto;
    left: auto;
    margin-bottom: 50px; }
  .section_one__card {
    margin: 0;
    width: auto; }
  .card__header {
    margin-left: 36px;
    margin-bottom: 22px;
    letter-spacing: -0.6px; }
  .section_one__cards_wrapper {
    justify-content: flex-start; }
  .card__text {
    display: none;
    margin-left: 36px; }
  .spoiler__switcher {
    display: block; }
  .section_two {
    padding-bottom: 20px; }
  .section_two__header {
    margin-bottom: 50px; }
  .card_img {
    max-width: 100%; }
  .card_img__header {
    margin: 24px 0; }
  .card_img__text {
    line-height: 20px; }
  .section_two__cards_wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-x: hidden; }
  .slider__control_type_card_img {
    display: flex; }
  .section_three__header {
    position: relative;
    top: auto;
    left: auto; }
  .card_icon {
    display: flex;
    text-align: left;
    margin-bottom: 40px; }
  .card_icon__text h4 {
    font-size: 14px;
    line-height: 20px; }
  .card_icon_img {
    margin: 0 23px 6px 0; }
  .card_icon_first {
    margin-top: 50px; }
    .card_icon_first .card_icon_img {
      width: 56px;
      height: 48px; }
  .card_icon_second .card_icon_img {
    width: 54px;
    height: 56px; }
  .card_icon_second, .card_icon_third {
    margin-top: 0; }
  .card_icon_third .card_icon_img {
    width: 56px;
    height: 48px;
    margin-bottom: 15px; }
  .section_three__phone, .section_three_btn {
    display: none; }
  .section_three__phone_wrapper_mobile, .section_three__btn_mobile {
    display: block; }
  .card_text_wrapper_one .card_icon__text:last-child {
    margin-bottom: 0; }
  .section_four {
    flex-direction: column; }
  .control {
    max-width: 100%; }
  .section_four__comment_mobile {
    display: block; }
  .section_four__control_one {
    margin-right: 0; }
  .section_four__slider, .section_four__comment {
    display: none; }
  .section__header_four {
    margin-top: 0; }
  .controls_wrapper {
    flex-direction: column; }
  .controls_price_info_time, .controls_price_info, .controls_price_value {
    display: none; }
  .section_five {
    padding-top: 60px;
    padding-bottom: 20px; }
  .feedback_mobile_card {
    display: block; }
  .feedback_card {
    display: none; }
  .feedback__text h4 {
    font-family: 'Helvetica Neue Light'; }
  .feedback__quotmark {
    display: none; }
  .feedback__quotmark_mobile {
    display: inline; }
  .slider__control_type_feedback {
    display: flex; }
  .controls_mobile_result {
    display: flex; }
  .footer {
    padding: 35px 25px 20px 25px; }
  .footer__container {
    flex-direction: column;
    padding: 0; }
  .footer__column_right, .footer__logo_wrapper, .footer__item_logo_block, .footer__item_bottom {
    display: none; }
  .footer__column_center, .footer__column_left {
    margin: 0; }
  .footer__mobile-logo {
    display: block; } }

@media (max-width: 1260px) {
  .section_four__control {
    width: auto; } }

@media (max-width: 360px) {
  .header__btn {
    width: 150px; } }
