h1 {
  font-size: 62px;
  margin: 0;
  font-weight: normal; }

h2 {
  font-size: 40px;
  margin: 0;
  font-weight: normal; }

h3 {
  font-size: 21px;
  margin: 0;
  font-weight: normal; }

h4 {
  font-size: 17px;
  margin: 0;
  font-weight: normal; }

h5 {
  font-size: 15px;
  margin: 0;
  font-weight: normal; }

h6 {
  font-size: 13px;
  margin: 0;
  font-weight: normal; }

html {
  box-sizing: border-box;
  user-select: none; }

button:active,
button:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: "Helvetica Neue", serif;
  font-size: 15px; }

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue.otf"); }

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria.otf"); }

.section__header {
  font-weight: bold;
  line-height: 50px;
  font-family: "Geometria"; }

h3 {
  line-height: 29px; }

.section {
  max-width: 1280px;
  position: relative;
  margin: 0 auto; }

.btn {
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: #e5e6e7;
  border-radius: 50px;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  padding: 0;
  bottom: 0;
  border-style: none; }

.btn__large {
  width: 240px; }

.btn__small {
  width: 200px; }

.btn__accent {
  background-color: #ee5133; }

.slider__body {
  position: relative;
  border: 1px solid #dcddde;
  border-radius: 8px; }

.slider__small {
  width: 320px;
  height: 470px;
  padding: 30px 38px 0 55px; }

.slider__large {
  width: 700px;
  height: 360px;
  padding: 20px; }

.slider__control {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center; }

.slider__point {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #DCDDDE;
  margin: 20px 10px 0 0;
  cursor: pointer; }
  .slider__point :last-child {
    margin-right: 0; }

.slider__point_active {
  background-color: #ee5133; }

header {
  height: 680px;
  width: 1280px;
  position: relative;
  margin: 0 auto;
  padding: 27px 100px 0 100px;
  background: url("../img/header.png") no-repeat;
  color: #fff; }

.header__head_wrapper {
  height: 30px;
  line-height: 30px; }

.header__logo {
  float: left;
  height: 30px;
  padding-right: 20px;
  border-right: 1px solid #fff;
  cursor: pointer; }

.header__city {
  float: left;
  margin: 0 20px; }

.header__phone {
  float: left; }

.header__download {
  float: right;
  margin-right: 20px;
  cursor: pointer; }

.header__login {
  font-size: 15px;
  font-weight: bold;
  float: right;
  padding-left: 20px;
  border-left: 1px solid #fff;
  cursor: pointer; }

.header__article {
  margin: 98px 0 0 -4px;
  width: 350px;
  height: 183px;
  font-family: "Geometria";
  font-weight: bold;
  line-height: 65px; }

.header__comments {
  width: 390px;
  height: 50px;
  margin-top: 140px; }

.header__btn {
  margin-top: 50px; }

.header__bottom_icon {
  position: absolute;
  right: 100px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  padding-left: 18px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer; }
  .header__bottom_icon img {
    display: block;
    width: 14px;
    height: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto; }

.header__more_text {
  position: absolute;
  right: 170px;
  bottom: 69px; }

.section_one {
  border-bottom: 1px solid #dcddde;
  padding: 80px 100px 0 100px; }

.section_one__header {
  position: absolute;
  top: 92px;
  left: 100px; }

.section_one__card_and_slider_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; }

.section_one__slider_round_img {
  position: absolute;
  top: 155px;
  left: 380px; }

.section_one__slider_text {
  position: absolute;
  right: 39px;
  top: 28px;
  width: 129px; }
  .section_one__slider_text h3 {
    text-align: right; }

.section_one__slider_header {
  color: #ee5133; }

.section_one__cards_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end; }

.card__header {
  font-weight: bold; }

.card__text {
  color: #899398;
  line-height: 23px; }

.section_one__card_one {
  width: 306px;
  align-self: flex-end;
  margin-bottom: 55px; }

.card__header_card_one {
  margin-bottom: 25px; }

.section_one__card_two {
  width: 321px;
  margin: 50px 30px 0 0; }

.card__header_card_two {
  margin-bottom: 25px; }

.section_one__card_three {
  width: 289px;
  margin: 50px 30px 83px 28px; }

.card__header_card_three {
  margin-bottom: 25px; }

.section_two {
  border-bottom: 1px solid #dcddde;
  padding: 83px 100px 81px 100px; }

.section_two__header {
  margin-bottom: 65px; }

.section_two__cards_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; }

.card_img {
  width: 320px;
  margin-bottom: 10px; }

.card_img__header {
  margin: 38px 0 25px 0; }
  .card_img__header h3 {
    font-weight: bold; }

.card_img__text {
  color: #899398;
  line-height: 25px; }

.section_three {
  border-bottom: 1px solid #dcddde;
  padding: 78px 100px 40px 100px; }

.section_three__header {
  position: absolute;
  top: 145px;
  left: 100px; }

.card_icon__text {
  margin-bottom: 20px;
  width: 290px; }
  .card_icon__text h4 {
    line-height: 25px; }

.section_three__right-column {
  display: flex;
  text-align: right; }

.section_three__flex_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.card_icon_img {
  margin-bottom: 30px; }

.card_icon_first {
  margin-top: 332px; }

.card_icon_second {
  text-align: right;
  margin-top: 142px; }

.card_icon_third {
  text-align: right;
  margin-top: 40px; }

.section_three_btn {
  margin: 90px 0 0 50px;
  color: #5d5d5d; }
  .section_three_btn span {
    padding-left: 20px; }
  .section_three_btn img {
    position: absolute;
    top: 14px;
    left: 22px; }

.section_four {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #dcddde;
  padding: 78px 100px 60px 100px; }

.section__header_four {
  margin-top: 24px; }

.section_four__slider_img {
  display: block;
  position: absolute;
  top: 220px;
  left: 60px; }

.section_four__slider_text_wrapper {
  text-align: right; }

.section_four__slider_header {
  color: #ee5133; }

.section_four__comment {
  margin-top: 18px;
  color: #899398; }
  .section_four__comment h4 {
    line-height: 29px; }

.section_four__control h3 {
  font-weight: bold; }

.section_four__control_one {
  margin-right: 60px; }

.section_four__control_two {
  position: relative; }

.controls_wrapper {
  margin: 46px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.control {
  width: 320px;
  height: 6px;
  background-color: #e5e6e7;
  margin: 17px 0 45px 0;
  position: relative; }

.control__progress {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ee5133; }

.control__progress_icon {
  display: block;
  position: absolute;
  top: 10px; }

.control__progress_icon_first {
  left: 20px; }

.control__progress_icon_second {
  left: 70px; }

.control__progress_first {
  width: 30px;
  height: 6px; }

.control__progress_second {
  width: 80px;
  height: 6px; }

.controls_text {
  margin-bottom: 6px; }

.controls__block_border {
  position: absolute;
  left: -30px;
  bottom: 0;
  height: 60px;
  width: 1px;
  background-color: #dcddde; }

.section_five {
  padding: 82px 100px 61px 100px; }

.section_five__feedbacks-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 64px; }

.feedback {
  width: 320px; }

.feedback__text {
  position: relative; }
  .feedback__text h4 {
    line-height: 24px; }

.feedback__author-wrapper {
  margin-top: 24px;
  height: 50px;
  line-height: 50px; }

.feedback__avatar {
  float: left; }

.feedback__author {
  float: left;
  margin-left: 15px;
  color: #899398; }

.feedback__quotmark {
  position: absolute;
  left: -10px; }

.feedback_card {
  width: 100%;
  margin-top: 100px;
  display: flex;
  height: 270px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #dcddde;
  border-radius: 4px; }

.feedback_card__half {
  width: 50%;
  padding: 38px 0 40px 40px; }

.feedback_card__header {
  color: #ee5133; }

.feedback_card__image {
  width: 50%; }

.feedback_card__input {
  width: 220px;
  height: 50px;
  margin-right: 20px;
  background-color: #f1f1f1;
  float: left; }

.feedback_card__btn {
  width: 220px;
  float: left; }

.feedback_card__input-wrapper {
  margin-top: 56px; }

footer {
  height: 304px;
  max-width: 1280px;
  position: relative;
  margin: 0 auto;
  padding: 54px 100px 0 100px;
  background: #f1f1f1; }

.footer__column {
  float: left; }

.footer__header {
  font-weight: bold;
  margin-bottom: 19px; }

.footer__item {
  margin-bottom: 18px; }
  .footer__item img {
    width: 20px;
    height: 20px;
    margin-right: 14px; }

.footer__column_center {
  margin: 35px 0 0 195px; }

.footer__column_right {
  margin-left: 165px; }
  .footer__column_right img {
    display: block;
    float: left; }

.footer__item_icon {
  height: 20px;
  line-height: 20px;
  margin-bottom: 14px; }

.footer__right_column_text {
  float: left; }

.footer__item_bottom {
  margin-top: 49px;
  line-height: 23px; }
  .footer__item_bottom img {
    width: 18px;
    height: 21px;
    display: block;
    float: left; }

.footer__item_bottom_text {
  float: left; }

.footer__item_logo_block {
  margin-top: 47px; }

.footer__logo_wrapper {
  width: 60px;
  height: 29px;
  float: left;
  padding-right: 19px;
  border-right: 1px solid #bcbec0; }

.footer__logo_text {
  float: left;
  padding-left: 20px;
  line-height: 29px;
  color: #939598; }
