.header {
  width: 100%;
  height: auto;
  position: relative;
  padding: 27px 100px 50px 100px;
  background: url('../img/header.png') no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.header__head-wrapper {
  height: 28px;
  line-height: 28px;
}

.header__logo {
  float: left;
  height: 29px;
  padding-right: 20px;
  border-right: 1px solid #fff;
  cursor: pointer;

  img {
    width: 40px;
    height: 29px;
  }
}

.header__city {
  float: left;
  margin: 0 19px;
}

.header__phone {
  float: left;
}

.header__download {
  float: right;
  margin-right: 24px;
  cursor: pointer;
}

.header__login {
  font-size: 15px;
  font-weight: bold;
  float: right;
  padding-left: 20px;
  border-left: 1px solid #fff;
  cursor: pointer;
}

.header__article {
  margin: 104px 0 0 -4px;
  max-width: 350px;
  height: 183px;
  font-family: "Geometria";
  font-weight: bold;
  line-height: 65px;
  letter-spacing: -0.4px;
}

.header__comments {
  max-width: 400px;
  margin-top: 142px;
  letter-spacing: 0.3px;
}

.header__btn {
  margin-top: 42px;
}

.header__bottom_icon {
  position: absolute;
  right: 100px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  padding-left: 18px; //todo refactor this
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;

  img {
    display: block;
    width: 14px;
    height: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.header__more_text {
  position: absolute;
  right: 173px;
  bottom: 66px;
}

.header__mobile-widget {
  display: none;
  float: right;
  margin-top: 30px;
  height: 50px;
}

.header__mobile_icon {
  float: left;
}

.header__call_mobile {
  padding: 18px 0 11px 18px;
  border-left: 1px solid $border-color;

  img {
    width: 18px;
    height: 18px;
  }
}

.header__download_mobile {
  padding: 16px 19px 12px 0;

  img {
    width: 16px;
    height: 19px;
  }
}