.custom_input {
  display: block;
  width: 220px;
  height: 50px;
  padding: 16px;
  border: none;
  background-color: #f1f1f1;
  font-size: 15px;
  font-family: 'Helvetica Neue', serif;
  line-height: 50px;
}

.custom_input__type_mobile {
  width: 100%;
  background-color: #fff;
}

::-webkit-input-placeholder {
  color: #a7a9ac;
}

::-moz-placeholder {
  color: #a7a9ac;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #a7a9ac;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #a7a9ac;
}