.lightbox_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 500;
  display: none;
}

.lightbox {
  width: 460px;
  position: fixed;
  padding: 50px;
  background-color: #fff;
  border-radius: 4px;
  z-index: 501;
  display: none;
}

.lightbox__content {
  display: flex;
  flex-direction: column;
}

.lightbox__error_block {
  color: red;
  margin-top: 15px;
}

.lightbox__input {
  width: 170px;
}

.lightbox__close_button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
}

.lightbox__title {
  font-size: 19px;
  line-height: 25px;
  font-weight: bold;
  margin-bottom: 24px;
}

.lightbox__title_comment {
  line-height: 23px;
  margin-bottom: 48px;
}

.lightbox__btns_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}