@media (max-width: 500px) {
  // Global

  body {
    font-size: $mobile-base-font-size;
  }

  .section {
    padding: 60px 25px 55px 25px;
  }

  header {
    padding: 30px 25px 25px 25px;
  }

  .section__header {
    line-height: 35px;
  }

  h3 {
    line-height: 24px;
  }

  .btn_type_mobile {
    font-size: 14px;
    width: 100%;
    font-weight: normal;
  }


  // Header

  .header__download, .header__phone, .header__more_text, .header__bottom_icon {
    display: none
  }

  .header__login {
    font-size: 14px;
    border-left: none;
  }

  .header__mobile-widget {
    display: block;
  }

  .header__article {
    max-width: 250px;
    line-height: 44px;
    height: auto;
  }

  .header__comments {
    margin-top: 75px;

    h3 {
      font-family: 'Helvetica Neue Light';
    }
  }

  .header__btn {
    font-weight: normal;
    margin-top: 30px;
  }

  // Section one

  .section_one {
    padding-bottom: 20px;
  }

  .section_one__slider {
    display: none;
  }

  .section__header_one {
    position: relative;
    width: auto;
    top: auto;
    left: auto;
    margin-bottom: 50px;
  }

  .section_one__card {
    margin: 0;
    width: auto;
  }

  .card__header {
    margin-left: 36px;
    margin-bottom: 22px;
    letter-spacing: -0.6px;
  }

  .section_one__cards_wrapper {
    justify-content: flex-start;
  }

  .card__text {
    display: none;
    margin-left: 36px;
  }

  .spoiler__switcher {
    display: block;
  }

  // Section two

  .section_two {
    padding-bottom: 20px;
  }

  .section_two__header {
    margin-bottom: 50px;
  }

  .card_img {
    max-width: 100%;
  }

  .card_img__header {
    margin: 24px 0;
  }

  .card_img__text {
    line-height: 20px;
  }

  .section_two__cards_wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-x: hidden;
  }

  .slider__control_type_card_img {
    display: flex;
  }

  // Section three

  .section_three__header {
    position: relative;
    top: auto;
    left: auto;
  }

  .card_icon {
    display: flex;
    text-align: left;
    margin-bottom: 40px;
  }

  .card_icon__text {
    h4 {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .card_icon_img {
    margin: 0 23px 6px 0;
  }

  .card_icon_first {
    margin-top: 50px;

    .card_icon_img {
      width: 56px;
      height: 48px;
    }
  }

  .card_icon_second {

    .card_icon_img {
      width: 54px;
      height: 56px;
    }
  }

  .card_icon_second, .card_icon_third {
    margin-top: 0;
  }

  .card_icon_third {

    .card_icon_img {
      width: 56px;
      height: 48px;
      margin-bottom: 15px;
    }
  }

  .section_three__phone, .section_three_btn {
    display: none;
  }

  .section_three__phone_wrapper_mobile, .section_three__btn_mobile {
    display: block;
  }

  .card_text_wrapper_one .card_icon__text:last-child {
    margin-bottom: 0;
  }

  // Section four

  .section_four {
    flex-direction: column;
  }

  .control {
    max-width: 100%;
  }

  .section_four__comment_mobile {
    display: block;
  }

  .section_four__control_one {
    margin-right: 0;
  }

  .section_four__slider, .section_four__comment {
    display: none;
  }

  .section__header_four {
    margin-top: 0;
  }

  .controls_wrapper {
    flex-direction: column;
  }

  .controls_price_info_time, .controls_price_info, .controls_price_value {
    display: none;
  }

  // Section five

  .section_five {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .feedback_mobile_card {
    display: block;
  }

  .feedback_card {
    display: none;
  }

  .feedback__text {
    h4 {
      font-family: 'Helvetica Neue Light';
    }
  }

  .feedback__quotmark {
    display: none;
  }

  .feedback__quotmark_mobile {
    display: inline;
  }

  .slider__control_type_feedback {
    display: flex;
  }

  .controls_mobile_result {
    display: flex;
  }

  // Footer
  .footer {
    padding: 35px 25px 20px 25px;
  }

  .footer__container {
    flex-direction: column;
    padding: 0;
  }

  .footer__column_right, .footer__logo_wrapper, .footer__item_logo_block, .footer__item_bottom {
    display: none;
  }

  .footer__column_center, .footer__column_left {
    margin: 0;
  }

  .footer__mobile-logo {
    display: block;
  }
}

@media (max-width: 1260px) {
  .section_four__control {
    width: auto;
  }
}

@media (max-width: 360px) {
  .header__btn {
    width: 150px;
  }
}