$card-height: 270px;
$card-border-radius: 4px;

.feedback_card {
  width: 100%;
  display: flex;
  height: $card-height;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid $border-color;
  border-radius: $card-border-radius;
}

.feedback_card__half {
  width: 50%;
  padding: 40px 0 40px 40px;
}

.feedback_card__header {
  color: $text-accent;
}

.feedback_card__image {
  width: 50%;
  height: $card-height - 2;
  border-top-right-radius: $card-border-radius;
  border-bottom-right-radius: $card-border-radius;
}

.feedback_card__input {
  display: none;
  margin-right: 20px;
  float: left;
}

.feedback_card__btn {
  width: 220px;
  float: left;
}

.feedback_card__input-wrapper {
  margin: 54px 0 0 1px;
}