.btn {
  position: relative;
  height: 50px;
  line-height: 50px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: $base-color-btn;
  border-radius: 50px;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;

  padding: 0;
  bottom: 0;
  border-style: none;
}

.btn_color_gray {
  background-color: #5D5D5D;
}

.btn__size_large {
  width: 240px;
}

.btn__size_small {
  width: 200px;
}

.btn__type_accent {
  background-color: $accent-color-btn;
}
