header {
  max-width: 1280px;
  position: relative;
  margin: 0 auto;
  padding: 27px 100px 44px 100px;
  background: url('../img/header.png') no-repeat;
  background-position: center;
  color: #fff;
}

.header__head_wrapper {
  height: 30px;
  line-height: 30px;
}

.header__logo {
  float: left;
  height: 30px;
  padding-right: 20px;
  border-right: 1px solid #fff;
  cursor: pointer;
}

.header__city {
  float: left;
  margin: 0 20px;
}

.header__phone {
  float: left;
}

.header__download {
  float: right;
  margin-right: 20px;
  cursor: pointer;
}

.header__login {
  font-size: 15px;
  font-weight: bold;
  float: right;
  padding-left: 20px;
  border-left: 1px solid #fff;
  cursor: pointer;
}

.header__article {
  margin: 98px 0 0 -4px;
  max-width: 350px;
  height: 183px;
  font-family: "Geometria";
  font-weight: bold;
  line-height: 65px;
}

.header__comments {
  max-width: 390px;
  margin-top: 140px;
}

.header__btn {
  margin-top: 50px;
}

.header__bottom_icon {
  position: absolute;
  right: 100px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  padding-left: 18px; //todo refactor this
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;

  img {
    display: block;
    width: 14px;
    height: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.header__more_text {
  position: absolute;
  right: 170px;
  bottom: 69px;
}

.header__mobile-widget {
  display: none;
  float: right;
  margin-top: 50px;
  height: 50px;
}

.header__mobile_icon {
  float: left;
}

.header__call_mobile {
  padding: 19px;
  border-left: 1px solid $border-color;

  img {
    width: 18px;
    height: 18px;
  }
}

.header__download_mobile {
  padding: 18px;

  img {
    width: 16px;
    height: 19px;
  }
}