html {
  box-sizing: border-box;
  user-select: none;
}

button:active,
button:focus {
  outline:0;
  border:none;
  -moz-outline-style: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", serif;
  font-size: $base-font-size;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeue.otf');
}

@font-face {
  font-family: "Geometria";
  src: url('../fonts/Geometria.otf');
}

.section__header {
  font-weight: bold;
  line-height: 50px;
  font-family: "Geometria";
}

h3 {
  line-height: 29px;
}

.section {
  max-width: 1280px;
  position: relative;
  margin: 0 auto;
}