html {
  box-sizing: border-box;
  user-select: none;
}

button:active,
button:focus {
  outline:0;
  border:none;
  -moz-outline-style: none;
}

ul {
  list-style: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', serif;
  font-size: $base-font-size;
  position: relative;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueBold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/GeometriaBold.otf');
  font-weight: bold;
}

.section__header {
  line-height: 50px;
  font-family: 'Geometria';
  font-weight: bold;
}

h3 {
  line-height: 29px;
}

.section {
  max-width: 1280px;
  position: relative;
  margin: 0 auto;
}
