.section_two {
  border-bottom: 1px solid $border-color;
  padding: 84px 100px 81px 100px;
}

.section_two__header {
  margin-bottom: 66px;
}

.section_two__cards_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.card_img {
  max-width: 320px;
  margin-bottom: 10px;

  img {
    width: 100%;
  }
}

.card_img__header {
  margin: 35px 0 25px 0;

  h3 {
    font-weight: bold;
  }
}

.card_img__text{
  color: $text-gray;
  line-height: 25px;
}

.slider__control_type_card_img {
  display: none;
}