.section_one {
  border-bottom: 1px solid $border-color;
  padding: 80px 100px 0 100px;
}

.section_one__header {
  position: absolute;
  top: 92px;
  left: 100px;
}

.section_one__card_and_slider_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.section_one__slider_round_img {
  position: absolute;
  top: 155px;
  left: 380px;
}

.section_one__slider_text {
  position: absolute;
  right: 39px;
  top: 28px;
  width: 129px;

  h3 {
    text-align: right;
  }
}

.section_one__slider_header {
  color: $text-accent
}

.section_one__cards_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}

.card__header {
  font-weight: bold;
  position: relative;
}

.spoiler__switcher {
  display: none;
}

.card__text {
  color: $text-gray;
  line-height: 23px;
  margin-bottom: 30px;
}

.section_one__card_one {
  max-width: 306px;
  align-self: flex-end;
  margin-bottom: 55px;
}

.card__header_card_one {
  margin-bottom: 25px;
}

.section_one__card_two {
  max-width: 321px;
  margin: 50px 30px 0 0;
}

.card__header_card_two {
  margin-bottom: 25px;
}

.section_one__card_three {
  max-width: 289px;
  margin: 50px 30px 83px 28px;
}

.card__header_card_three {
  margin-bottom: 25px;
}