.section_five {
  padding: 78px 100px 61px 100px;
}

.section_five__feedbacks-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 64px;
}

.feedback {
  width: 320px;
}

.feedback__text {
  position: relative;

  h4 {
    line-height: 24px;
  }
}

.feedback__author-wrapper {
  margin-top: 24px;
  height: 50px;
  line-height: 50px;
}

.feedback__avatar {
  float: left;
}

.feedback__author {
  float: left;
  margin-left: 15px;
  color: $text-gray;
}

.feedback__quotmark {
  position: absolute;
  left: -10px;
}

.feedback__quotmark_mobile {
  display: none;
}

.slider__control_type_feedback {
  display: none;
}

.feedback_card {
  width: 100%;
  margin-top: 100px;
  display: flex;
  height: 270px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid $border-color;
  border-radius: 4px;
}

.feedback_card__half {
  width: 50%;
  padding: 38px 0 40px 40px;
}

.feedback_card__header {
  color: $text-accent;
}

.feedback_card__image {
  width: 50%;
}

.feedback_card__input {
  width: 220px;
  height: 50px;
  margin-right: 20px;
  background-color: #f1f1f1;
  float: left;
}

.feedback_card__btn {
  width: 220px;
  float: left;
}

.feedback_card__input-wrapper {
  margin-top: 56px;
}