.section_five {
  padding: 83px 100px 61px 100px;
}

.section_five__feedbacks-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 61px;
}

.feedback {
  width: 320px;
}

.feedback__text {
  position: relative;

  h4 {
    line-height: 24px;
  }
}

.feedback__author-wrapper {
  margin-top: 24px;
  height: 48px;
  line-height: 48px;
}

.feedback__avatar {
  float: left;
}

.feedback__author {
  float: left;
  margin-left: 15px;
  color: $text-gray;
  line-height: 52px;
}

.feedback__quotmark {
  position: absolute;
  top: 3px;
  left: -10px;
}

.feedback__quotmark_mobile {
  display: none;
}

.slider__control_type_feedback {
  display: none;
}

.feedback_card {
  width: 100%;
  margin-top: 79px;
  display: flex;
  height: 270px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid $border-color;
  border-radius: 4px;
}

.feedback_card__half {
  width: 50%;
  padding: 40px 0 40px 40px;
}

.feedback_card__header {
  color: $text-accent;
}

.feedback_card__image {
  width: 50%;
}

.feedback_card__input {
  display: none;
  margin-right: 20px;
  float: left;
}

.feedback_card__btn {
  width: 220px;
  float: left;
}

.feedback_card__input-wrapper {
  margin: 54px 0 0 1px;
}



.feedback_mobile_card {
  display: none;
}

.feedback_mobile_card-img {
  width: 100%;
  color: #fff;
  padding: 40px 24px;
  background-image: url('../img/boxes_mobile.png');
  background-size: cover;
}

.feedback_mobile_icons {
  padding: 28px 24px;
}

.feedback_mobile_card__text {
  font-weight: bold;
}

.custom_input__type_mobile {
  display: none;
  margin-bottom: 28px;
}

.feedback_mobile_card__header {
  font-family: 'Helvetica Neue Light';
  margin-bottom: 36px;
}

.icons_wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.feedback_mobile_icon {
  width: 20px;
  height: 20px;
  margin-right: 32px;
}

.feedback_mobile_icon_mail {
  width: 18px;
  height: 14px;
  align-self: center;
}