.section_three {
  max-width: 1280px;
  position: relative;
  margin: 0 auto;
  border-bottom: 1px solid $border-color;
  padding: 78px 100px 78px 100px;
}

.section_three__header {
  position: absolute;
}

.section_three_btn {
  margin-top: 114px;
  color: #5d5d5d;

  span {
    padding-left: 20px;
  }

  img {
    position: absolute;
    top: 14px;
    left: 22px;
  }
}

.card_icon__text {
  margin-bottom: 29px;
  width: 270px;
}

.section_three__right-column {
  display: flex;
  text-align: right;
}

.section_three__flex_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card_icon_first {
  margin-top: 332px;
}

.card_icon_second {
  margin-top: 142px;
}

.card_icon_third {
  margin-top: 44px;
}