.section_four {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid $border-color;
  padding: 80px 100px 60px 100px;
}

.section__header_four {
  margin-top: 23px;
}

.section_four__slider_img {
  display: block;
  position: absolute;
  top: 218px;
  left: 60px;
}

.section_four__slider_roung-img {
  display: block;
  position: absolute;
  top: 334px;
  left: 185px;
}

.section_four__slider_text_wrapper {
  text-align: right;
}

.section_four__slider_header {
  color: $text-accent;
}

.section_four__comment {
  margin-top: 15px;
  color: $text-gray;
  letter-spacing: 0.2px;

  h4 {
    line-height: 29px;
  }
}

.section_four__control {
  width: 320px;

  h3 {
    font-weight: bold;
  }
}

.section_four__control_one {
  margin-right: 60px;
}

.section_four__control_two {
  position: relative;
}

.controls_wrapper {
  margin: 51px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.control {
  max-width: 320px;
  height: 6px;
  background-color: #e5e6e7;
  margin: 15px 0 50px 0;
  position: relative;
}

.control__progress {
  position: absolute;
  height: 6px;
  left: 0;
  top: 0;
  background-color: $accent-color-btn;
}

.control__progress_icon {
  width: 20px;
  height: 13px;
  display: block;
  cursor: pointer;
  position: relative;
  top: 8px;
}

.controls_text {
  margin-bottom: 6px;
}

.controls__block_border {
  position: absolute;
  left: -30px;
  bottom: 0;
  height: 60px;
  width: 1px;
  background-color: $border-color;
}



.controls_mobile_result {
  display: none;
  flex-direction: row;
}

.controls_mobile_result__block_first {
  margin-right: 30px;
}

.controls_mobile_result__block_second {
  padding-left: 20px;
  border-left: 1px solid $border-color;
}

.controls_mobile_result__block {
  h3 {
    font-weight: bold;
    margin-top: 16px;
  }
}
