.slider__body {
  position: relative;
  border: 1px solid $border-color;
  border-radius: 8px;
}

.slider__small {
  width: 320px;
  height: 470px;
  padding: 30px 38px 0 55px;
}

.slider__large {
  width: 700px;
  height: 360px;
  padding: 20px;
}

.slider__control {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 20px;

  :last-child {
    margin-right: 0;
  }
}

.slider__point {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #DCDDDE;
  margin-right: 10px;
  cursor: pointer;
}

.slider__point_active {
  background-color: #ee5133;
}

