.tooltip {
  width: 120px;
  height: 30px;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  background-color: #bd081c;
  border-radius: 2px;
}

.tooltip::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #bd081c;
}

.error__tooltip {
  display: none;
  position: absolute;
  left: 0;
  top: -35px;
}