//== Typography

$base-font-size: 15px;

$font-size-h1: 62px;
$font-size-h2: 40px;
$font-size-h3: 21px;
$font-size-h4: 17px;
$font-size-h5: $base-font-size;
$font-size-h6: 13px;

//== Colors

$text-gray: #899398;
$text-accent: #ee5133;

$base-color-btn: #e5e6e7;
$accent-color-btn: $text-accent;

$border-color: #dcddde;




