$card-height: 380px;
$card-border-radius: 4px;

.card_empty_stock {
  width: 100%;
  display: flex;
  height: $card-height;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid $border-color;
  border-radius: $card-border-radius;
}

.card_empty_stock__image {
  width: 65%;

  img {
    width: 100%;
    height: $card-height - 2;
    border-top-left-radius: $card-border-radius;
    border-bottom-left-radius: $card-border-radius;
  }
}

.card_empty_stock__text_wrapper {
  width: 35%;
  height: 100%;
  padding: 40px 40px 50px 40px;
}

.card_empty_stock__text_header {
  width: 240px;

  h3 {
    font-weight: bold;
    line-height: 1.33;
  }
}

.card_empty_stock__text {
  width: 284px;
  margin-top: 96px;
  color: #939598;
}

.card_empty_stock__btn {
  width: 100%;
  margin-top: 27px;
}
