.free_storage__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 57px;
}

.free_storage__title_text {
  padding-top: 10px;
  width: 492px;
}

.free_storage__card {
  width: 520px;
  height: 240px;
  background-color: #fbc533;
  border-radius: 4px;
}

.free_storage__card_info {
  padding: 37px 0 0 40px;
  font-weight: bold;
  color: #fff;
}

.free_storage__card_title {
  font-size: 17px;
  margin-bottom: 16px;
}

.free_storage__card_value {
  font-family: Geometria;
  font-size: 40px;
  line-height: 1;
  margin-bottom: 80px;
}

.free_storage__card_currency {
  font-size: 28px;
}

.free_storage__card_friends_number {
  font-size: 17px;
  line-height: 1;
}

.free_storage__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.free_storage__info_text {
  font-size: 17px;
  line-height: 25px;
  width: 490px;
}

.free_storage__invite_block {
  width: 520px;
}

.invite_block__title {
  font-weight: bold;
  margin-bottom: 17px;
}

.invite_block__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
  padding-left: 13px;
  background-color: #f1f1f1;
  margin-bottom: 40px;
  border: 0;
  font-size: 17px;
  font-family: "Helvetica Neue";
}

.invite_block__link_icon {
  width: 24px;
  height: 10px;
  margin-right: 13px;
}

.invite_block__share_title {
  font-weight: bold;
  margin-bottom: 17px;
}

.invite_block__share_icons_wrapper {
  display: flex;
  flex-direction: row;
}

.invite_block__share_icon {
  background-color: #DCDDDE;
  margin-right: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.share_icon_fb {
  background-color: #4e6ba1;

  img {
    width: 10px;
    height: 20px;
  }
}

.share_icon_vk {
  background-color: #45668e;

  img {
    width: 24px;
    height: 14px;
  }
}

.share_icon_tr {
  background-color: #54aced;

  img {
    width: 20px;
    height: 16px;
  }
}

.share_icon_whap {
  background-color: #34a050;

  img {
    width: 20px;
    height: 20px;
  }
}

.invite_block__share_icon:last-child {
  margin-right: 0;
}